<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.hotelhilbert1">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.HotelHilbert1">
        <activity
            android:name=".sobre_nos"
            android:exported="false" />
        <activity
            android:name=".fazer_reserva"
            android:exported="false" />
        <activity
            android:name=".formCadastro"
            android:exported="false" />
        <activity
            android:name=".detalhes_vip"
            android:exported="false" />
        <activity
            android:name=".quartos"
            android:exported="false" />
        <activity
            android:name=".detalhes_suite"
            android:exported="false" />
        <activity
            android:name=".detalhes_normal"
            android:exported="false" />
        <activity
            android:name=".detalhes_solteiro"
            android:exported="false" />
        <activity
            android:name=".detalhes_quarto"
            android:exported="false" />
        <activity
            android:name=".FormLogin"
            android:exported="false" />
        <activity
            android:name=".detalhes_suite2"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true" />
        <activity
            android:name=".perfil"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>